<rule name="rule 1f">
  <match url="^([^/]+)/$"  />
  <action type="Rewrite" url="/{R:1}.php"  />
</rule>
<rule name="rule 2f">
  <match url="^([^/]+)/([^/]+)/$"  />
  <action type="Rewrite" url="//{R:1}/{R:2}.php"  />
</rule>
<rule name="rule 3f" stopProcessing="true">
  <match url="(.*)$"  />
  <action type="Rewrite" url="//{R:1}/"  />
</rule>
